<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Who is Tatscru</h1>
        <p>This is the info page: here's some information about Tatscru and the soulful individual she is and presents to the world!</p>
    </body>
</html>